# File: config.sh
# Purpose: configuration file for backups
#

# Directory to store periodic backups
local_backups_dir=~/backups

# Backup types to use, space separated values
types='mysql'

# MySQL database names to backup, space separated values
mysql_names='sonar'
